.color-changer__radio {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.color-option {
    all: unset;
    cursor: pointer;
}

.circle-dot__gulf-stream {
    color: #87b69d;
}

.circle-dot__gulf-stream:hover,
.circle-dot__smoky-grape:hover,
.circle-dot__bright-cerulean:hover {
    border: 1px solid #e3e7e3;
}

.circle-dot__gulf-stream.active {
    border: 1px solid #87b69d;
}

.circle-dot__smoky-grape {
    color: #675180;
}

.circle-dot__smoky-grape.active {
    border: 1px solid #675180;
}

.circle-dot__sky-blue {
    color: #72c7f8;
}

.circle-dot__sky-blue.active {
    border: 1px solid #72c7f8;
}

.circle-dot__pale-gray {
    color: #cdc5c5;
}

.circle-dot__pale-gray.active {
    border: 1px solid #cdc5c5;
}

.circle-dot__sea-green {
    color: #32B67A;
}

.circle-dot__sea-green.active {
    border: 1px solid #32B67A;
}

.circle-dot__pale-chartreuse {
    color: #EAF68E;
}

.circle-dot__pale-chartreuse.active {
    border: 1px solid #EAF68E;
}