.color-changer {
    border-bottom: 1px solid #EDEEF1;
    width: 100%;
}

.color-changer__container {
    position: relative;
}

.color-changer__wrapper {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 3px 0;
}

.color-option {
    all: unset;
    cursor: pointer;
}

.circle-dot__gulf-stream {
    color: #87b69d;
}

.circle-dot__gulf-stream.active {
    border: 1px solid #87b69d;
}

.circle-dot__smoky-grape {
    color: #ab91c7;
}

.circle-dot__smoky-grape.active {
    border: 1px solid #ab91c7;
}

.circle-dot__sky-blue {
    color: #96d0f2;
}

.circle-dot__sky-blue.active {
    border: 1px solid #96d0f2;
}

.circle-dot__pale-gray {
    color: #cdc5c5;
}

.circle-dot__pale-gray.active {
    border: 1px solid #cdc5c5;
}

.circle-dot__pale-pink {
    color: #f8a9b2;
}

.circle-dot__pale-pink.active {
    border: 1px solid #f8a9b2;
}

.circle-dot__pale-chartreuse {
    color: #EAF68E;
}

.circle-dot__pale-chartreuse.active {
    border: 1px solid #EAF68E;
}

.circle-dot__gulf-stream:hover,
.circle-dot__smoky-grape:hover,
.circle-dot__sky-blue:hover,
.circle-dot__pale-gray:hover,
.circle-dot__pale-pink:hover,
.circle-dot__pale-chartreuse:hover {
    border: 1px solid #e3e7e3;
}

details {
    background: #ffffff;
    border-radius: 8px;
    position: relative;
}

.summary-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

details .summary-title {
    user-select: none;
}

details:hover {
    cursor: pointer;
}

.summary-content {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

details .summary-content {
    cursor: default;
    font-weight: 300;
}

details summary {
    list-style: none;
    margin: 7px;
}

details summary:focus {
    outline: none;
}

details summary:hover .summary-chevron-up .icon {
    opacity: 1;
}

details .summary-chevron-up .icon {
    opacity: 0.5;
}

details .summary-chevron-up,
details .summary-chevron-down {
    pointer-events: none;
    position: absolute;
    top: 2px;
    right: 5px;
    background: #ffffff;
}

details .summary-chevron-up .icon,
details .summary-chevron-down .icon {
    display: block;
}

details summary::-webkit-details-marker {
    display: none;
}