@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.column__drop_area {
    font-size: 36px;
    white-space: nowrap;
    padding: 0 50px;
    color: #747070;
    border: 1px dashed #b8b6b6;
    background-color: #f5fbf5;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    opacity: 1;
    transition: all 0.2s ease-in-out;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column__hide_drop {
    opacity: 0;
    font-size: 10px;
}