@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.board__wrapper {
    display: flex;
    gap: 15px;
    margin: auto;
    width: 90%;
}

.board__btn_add-column {
    all: unset;
    font-family: "Manrope", sans-serif;
    background-color: #EDF9E8;
    font-size: 16px;
    height: 30px;
    font-weight: 600;
    cursor: pointer;
    width: 180px;
    padding: 10px 0 10px 15px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 -4px 4px rgba(217, 245, 205, 0.8), 0 1px 3px rgba(76, 75, 75, 0.12), 0 1px 2px rgba(58, 57, 57, 0.24),
        0 4px 4px rgba(223, 251, 210, 0.8), 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(53, 53, 53, 0.24);
    transition: all 0.2s ease-in-out;
}

.board__btn_add-column:hover {
    background-color: #c4f8ae;
    box-shadow: none;
}

.board__btn {
    all: unset;
    background-color: #ECF8E6;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    height: 20px;
    box-shadow: 0 -4px 4px rgba(217, 245, 205, 0.8), 0 1px 3px rgba(76, 75, 75, 0.12), 0 1px 2px rgba(58, 57, 57, 0.24),
        0 4px 4px rgba(223, 251, 210, 0.8), 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(53, 53, 53, 0.24);
    transition: all 0.2s ease-in-out;
}

.board__form {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.board__select {
    outline: none;
    width: 120px;
    height: 30px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: 0 -4px 4px rgba(217, 245, 205, 0.8), 0 1px 3px rgba(76, 75, 75, 0.12), 0 1px 2px rgba(58, 57, 57, 0.24),
        0 4px 4px rgba(223, 251, 210, 0.8), 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(53, 53, 53, 0.24);
    transition: all 0.2s ease-in-out;
}

.board__select option {
    font-size: 16px;
    font-weight: 600;
}

.board__btn:hover {
    background-color: #c4f8ae;
    box-shadow: none;
}