@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.edit__form_descr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

.edit__textarea_descr {
    height: 250px;
}

.edit__descr {
    cursor: pointer;
    max-height: 145px;
    word-break: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 13px;
}

.edit__descr_text {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 0 5px 0 10px;
}

.edit__descr::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(86, 83, 83, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.edit__descr::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

.edit__descr::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(86, 83, 83, 0.3);
    background-color: #bbb4b4;
}