.column__wrapper {
    width: 300px;
    min-height: 100px;
    border-radius: 5px;
    cursor: grab;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: rgb(237, 249, 232);
}

.column__title {
    display: flex;
    justify-content: space-between;
}

.column__delete-btn {
    all: unset;
    cursor: pointer;
}

.column__delete-icon {
    opacity: 0.3;
}

.column__delete-icon:hover {
    opacity: 0.7;
}