@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


.search__wrapper {
    margin: 25px;
    position: relative;
    display: flex;
    justify-content: center;
}

.search__input {
    width: 150px;
    outline: none;
    height: 40px;
    font-family: "Manrope", sans-serif;
    padding: 10px 40px 15px 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: 0 -4px 4px rgba(217, 245, 205, 0.8), 0 1px 3px rgba(76, 75, 75, 0.12), 0 1px 2px rgba(58, 57, 57, 0.24),
        0 4px 4px rgba(223, 251, 210, 0.8), 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(53, 53, 53, 0.24);
    transition: all 0.2s ease-in-out;
}

.search__input::placeholder {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
}

.search__icon {
    font-size: 24px;
    position: absolute;
    opacity: 0.5;
    margin-left: 100px;
    top: 9px;
}