@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.edit__wrapper_descr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

.edit__textarea_descr {
    height: 250px;
}

.edit__descr {
    cursor: pointer;
    height: 145px;
    word-break: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 13px;
    padding-left: 10px;
}

.edit__descr_text {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 0 5px 0 10px;
}

.edit__descr_text p:not(:is(ul p, ol p)) {
    margin-left: -20px;
}

.edit__descr::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(86, 83, 83, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.edit__descr::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

.edit__descr::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(86, 83, 83, 0.3);
    background-color: #bbb4b4;
}

.ProseMirror {
    height: 145px;
    word-break: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    width: 200px;
    background-color: #fbf7f7;
    margin: 10px 0;
    padding: 3px 5px 3px 20px;
    line-height: 1.5;
    border-radius: 5px;
    border: none;
    resize: none;
    outline: none;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: auto;
}

.ProseMirror {
    margin-left: 5px;
}

.ProseMirror p:not(:is(ul p, ol p)) {
    margin-left: -15px;
}

.ProseMirror ul,
.ProseMirror ol {
    margin-left: 5px;
}

.ProseMirror::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(86, 83, 83, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.ProseMirror::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

.ProseMirror::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(86, 83, 83, 0.3);
    background-color: #bbb4b4;
}