@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.board__wrapper {
    display: flex;
    gap: 15px;
    margin: auto;
    width: 90%;
}

.board__btn_add-column {
    height: 25px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
}