@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


.search__wrapper {
    margin: 25px;
    position: relative;
    display: flex;
    justify-content: center;
}

.search__input {
    width: 140px;
    padding: 4px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(185, 183, 183);
    font-family: "Manrope", sans-serif;
    font-size: 16px;
}

.search__input::placeholder {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
}

.search__icon {
    position: absolute;
    opacity: 0.5;
    margin-left: 100px;
    top: 7px;
}