@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

.task__wrapper {
    box-shadow: 0 -4px 4px rgba(217, 245, 205, 0.8), 0 1px 3px rgba(76, 75, 75, 0.12), 0 1px 2px rgba(58, 57, 57, 0.24),
        0 4px 4px rgba(223, 251, 210, 0.8), 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(53, 53, 53, 0.24);
    border-radius: 5px;
    position: relative;
    min-height: 230px;
    margin: 3px 0;
    display: flex;
    flex-direction: column;
}

/* .card__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 150px;
} */


.card__dots {
    font-size: 20px;
    float: right;
    opacity: 0.3;
    cursor: pointer;
    margin-top: 5px;
}

.card__dots:hover {
    opacity: 1;
}

.card__deadline-btn_show,
.card__deadline-btn_hide:hover {
    all: unset;
    opacity: 1;
    cursor: pointer;
    font-family: "Aboreto", system-ui;
    font-size: 15px;
    text-shadow:
        1px 0 0 black,
        0 1px 0 black,
        -1px 0 0 black,
        0 -1px 0 black;
    padding: 2px;
    letter-spacing: 0.5px;
    margin: 5px 0 0 15px;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(68, 66, 66, 0.25), 0 2px 8px rgba(68, 66, 66, 0.25), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}

.card__deadline-btn_hide {
    all: unset;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    font-family: "Aboreto", system-ui;
    font-size: 15px;
    text-shadow:
        1px 0 0 black,
        0 1px 0 black,
        -1px 0 0 black,
        0 -1px 0 black;
    letter-spacing: 0.5px;
}

.card__input_wrapper {
    margin: 5px;
}

.card__deadline_input {
    all: unset;
    border-radius: 5px;
    font-family: "Aboreto", system-ui;
    font-size: 15px;
    text-shadow:
        1px 0 0 black,
        0 1px 0 black,
        -1px 0 0 black,
        0 -1px 0 black;
    letter-spacing: 0.5px;
    font-size: 16px;
    box-shadow: 0 1px 1px rgba(68, 66, 66, 0.25), 0 2px 8px rgba(68, 66, 66, 0.25), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}

.overlay {
    cursor: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(130, 130, 152, 0.185);
    z-index: 1;
}

.dropdown-container {
    position: relative;
    z-index: 2;
    cursor: auto;
    vertical-align: 2px;
}

.card__header_wrapper {
    display: flex;
    justify-content: space-between;
}


.card__wrapper {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
}

.card__deadline_wrapper {
    font-size: 15px;
    font-weight: 700;
    padding-top: 10px;
    margin: auto 0 8px 15px;
}