@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.tiptap__wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 5px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 -4px 4px rgba(217, 245, 205, 0.8), 0 1px 3px rgba(76, 75, 75, 0.12), 0 1px 2px rgba(58, 57, 57, 0.24),
        0 4px 4px rgba(223, 251, 210, 0.8), 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(53, 53, 53, 0.24);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: "Manrope", sans-serif;
    padding: 0 5px;
    margin-right: 10px;
    border-radius: 3px;
}

button.is-active {
    background-color: #d2d1ce;
}

.clear-formatting__icon {
    vertical-align: -3px;
}

u {
    text-underline-offset: 2px;
}